name: Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, intl, pdo, pdo_mysql

    - name: Install Composer dependencies
      run: composer install --no-dev --optimize-autoloader

    - name: Create ZIP package
      run: |
        zip -r app.zip . -x ".git/*"

    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v4
      with:
        app-name: ProyectoEquipo3   # ← AQUÍ EL NOMBRE DE TU APP
        package: app.zip
