name: Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, pdo_mysql, xml, zip

      - name: Install dependencies
        run: composer install --no-dev --optimize-autoloader --prefer-dist

      - name: Deploy to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: FuncionFco   # <-- tu nombre EXACTO del App Service
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .
