name: Deploy Laravel to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Instalar dependencias
        run: |
          composer install --no-interaction --prefer-dist --optimize-autoloader
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

    
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    
      - name: Empaquetar app
        run: |
          zip -r app.zip . -x ".git/*" -x ".github/*"

      
      - name: Deploy a Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "proyectoequipo3-ecb7fyguaxa6bqfn"   # Nombre REAL
          package: app.zip
