name: Deploy Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, pdo_mysql

      - name: Install dependencies
        run: |
          composer install --no-dev --optimize-autoloader

      - name: Create ZIP for deployment
        run: |
          zip -r app.zip . -x "*.git*" "*node_modules*" "*.github*" "*tests*"

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ProyectoEquipo3
          slot-name: Production
          package: app.zip
